h1 {
	float: left;
}

h1:after {
	content: "";
	clear: both;
	display: table;
}

.indiv-drink {
	padding: 35px;
	text-align: center;
}

.drinkname {
	color: #2A95CA;
	font-size: 20px;
}

.likes {
	color: #4B88A2;
}

a {
	text-decoration: none;
	color: #4B88A2;
}

a:hover {
	text-decoration: none;
}

@media(max-width: 769px) {
	#logo {
		width: 50%;
	}

}

@media(max-width: 576px) {
	#logo {
		width: 70%;
	}
}

.drinkInfo {
	box-sizing: border-box;
  	position: relative; 
}

.drinkInfo img {
	width: 100%;
}
